---
client:
  hosts:
    - 172.30.0.2
  port: 9200
  url_prefix:
  use_ssl: False
  certificate: 
  client_cert:
  client_key:
  aws_key:
  aws_secret_key:
  aws_region:
  ssl_no_validate: False
  http_auth: "elastic:CarnegieBg!"
  timeout: 30
  master_only: False

logging:
  loglevel: INFO
  logfile:
  logformat: default
